<%= render 'layouts/nav' %>
<div class="ContentWrapper">
  <div class="col3-sm">
    <div class="class-list">
      <h3>Classes</h3>
      <ul class="render-list">
        <% @courses.each do |course| %>
        <li class="render-item"><%= course.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col3-lg left">
    <h3>Top questions for you</h3>
    
    <div class="questions">
      <%= render @questions.reverse_order() %>
    </div>
  </div>
</div>
