<%= render 'layouts/nav' %>
<div class="ContentWrapper">
  <div class="col3-left">
    <div class="class-list">
      <h3>Classes</h3>
      <ul></ul>
    </div>
  </div>
  <div class="col3-center">
    <h3>Top questions for you</h3>
    
    <div class="questions">
      <%= render @questions %>
    </div>
  </div>
</div>
