<%= render 'layouts/nav' %>
<div class="ContentWrapper">
  <div class="col3-left">
    <div class="class-list">
      <h3>Classes</h3>
      <ul></ul>
    </div>
  </div>
  <div class="col3-center">
    <h3>Top questions for you</h3>
    
    <div class="questions">
      <div class="question first">
        <div class="question-header">
          <span class="question-class">CS354</span> • <span class="question-date"> 1h</span>
        </div>
        <div class="question-title">
          <a href="" class="question-link"><span class="rendered-title">How the fuck is this class so hard? I need help.</span></a>
        </div>
        <div class="question-body">
          <span class="rendered-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </span>
        </div>
        <div class="question-answers">
          <a href="" class="answers-link">
            <span class="rendered-answers">
              1 Answer
            </span>
          </a>
        </div>
        <div class="question-misc question-sep">
          <a href="" class="answer-btn"><i class="icon ion-edit"></i><span class="answer-text">Answer</span></a>
          <a href="" class="report-link">Report</a>
        </div>
      </div>
      <div class="question">
        <div class="question-header">
          <span class="question-class">CS354</span> • <span class="question-date"> 1h</span>
        </div>
        <div class="question-title">
          <a href="" class="question-link"><span class="rendered-title">How the fuck is this class so hard? I need help.</span></a>
        </div>
        <div class="question-body">
          <span class="rendered-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </span>
        </div>
        <div class="question-answers">
          <a href="" class="answers-link">
            <span class="rendered-answers">
              1 Answer
            </span>
          </a>
        </div>
        <div class="question-misc question-sep">
          <a href="" class="answer-btn"><i class="icon ion-edit"></i><span class="answer-text">Answer</span></a>
          <a href="" class="report-link">Report</a>
        </div>
      </div>
      <div class="question">
        <div class="question-header">
          <span class="question-class">CS354</span> • <span class="question-date"> 1h</span>
        </div>
        <div class="question-title">
          <a href="" class="question-link"><span class="rendered-title">How the fuck is this class so hard? I need help.</span></a>
        </div>
        <div class="question-body">
          <span class="rendered-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </span>
        </div>
        <div class="question-answers">
          <a href="" class="answers-link">
            <span class="rendered-answers">
              1 Answer
            </span>
          </a>
        </div>
        <div class="question-misc question-sep">
          <a href="" class="answer-btn"><i class="icon ion-edit"></i><span class="answer-text">Answer</span></a>
          <a href="" class="report-link">Report</a>
        </div>
      </div>
    </div>
  </div>
</div>
