<%= render 'layouts/nav' %>
<div class="ContentWrapper">
  <div class="col3-left">
    <div class="class-list">
      <h3>Classes</h3>
      <ul class="courses">
        <% @courses.each do |course| %>
        <li class="course"><%= course.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col3-center">
    <h3><%= @question.title %></h3>
    <p><%= @question.body %></p>
  </div>
  
</div>