.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* Space out content a bit */

body {
    font-family: 'Open Sans', sans-serif;
}
/* red header */

.redHalf {
    background-color: #861108;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

.lead {
    display: inline-block;
    margin-top: 20px;
}

.lead > a {
    text-decoration: underline;
    color: white;
}

/* submit form */

.box {
    margin: 20px auto;
    width: 400px;
    height: 100px;
}

.sending {
    display: none;
    margin: 0 auto;
    width: 380px;
    height: 70px;
    font-size: 3em;
}

#sendingBar {
    margin-top: -400px;
    height: 3.5px;
    width: 380px;
    background-color: #e6e8eb;
}

/* bootstrap progress bar */
.progress {
    margin-top: -4px;
    height: 4px;
    border-radius: 0px;
}

.progress-bar {
    background: #517C07;
}

input[type="tel"] {
/*    display: none;*/
    appearance: none;
    width: 380px;
    height: 70px;
    font-size: 3em;
    background: transparent;
    border: none;
    border-bottom: solid 4px #600700;
    text-align: center;
    transition: border-color 0.6s ease;
}

::-webkit-input-placeholder {
    color: #600700;
    transition: color 0.3s ease;
}

:focus::-webkit-input-placeholder {
    color: transparent;
    transition: color 0.3s ease;
}

input[type="tel"]:focus {
    outline: none;
    border: none;
    color: #e6e8eb;
    border-bottom: solid 4px #e6e8eb;
    transition: border-color 1s ease;
}

input[type="submit"] {
    appearance: none;
    width: 380px;
    height: 50px;
    font-size: 1.05em;
    background: transparent;
    color: #600700;
    border: none;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transition: color 0.5s ease;
    outline: none;
    border: none;
}

input[type="submit"]:hover {
    color: #600700 !important;
    cursor: pointer;
    transition: color 0.5s ease;
}

/* badger svg */

#badger {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
/* text link color / body text */

.text-muted {
    color: white;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Change success button color */

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-color: #C2B39C;
    border-color: #C2B39C;
}

.btn-success {
    background-color: #DFCDB3;
    border-color: #DFCDB3;
}
/* input form */

#numInput {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* marketing text color */

.marketing {
    color: black;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: black;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.main {
    text-align: center;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    
    .jumbotron {
        border-bottom: 0;
    }
}