.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
    background-color: #861108;
}

/* change jumbotron */


/* change link color */
a {
    color: white;
}

a:hover, a:focus {
    color: #861108;
}

 

/* text link color / body text */
.text-muted {
    color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Change nav button color */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    background-color: white;
    color: #861108;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
    background-color: white;
    color: #861108;
}

/* Change success button color */
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-color: #C2B39C;
    border-color: #C2B39C;
}

.btn-success{
    background-color: #DFCDB3;
    border-color: #DFCDB3;
}

/* input form */
#numInput {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* marketing text color */
.marketing {
    color: white;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
