<div class="request">
  <span class="request-title">Requested Information</span>
  <div class="responder">
    <%= image_tag("google-icon-test.png") %>
    <span class="responder-name">Jake Dexheimer</span>
  </div>
  <p><%= request.body.html_safe %></p>
</div>
