<div class="request">
  <span class="request-title">Requested Information</span>
  <div class="responder">
    <%= image_tag("google-icon-test.png") %>
    <span class="responder-name">Jake Dexheimer</span>
  </div>
  <p><%= request.body.html_safe %></p>
</div>
<div class="request-response">
  <% if request.response %>
    <span class="responder-name">Asker's Response</span>
    <p class="response-text"><%= request.response %></p>
  <% else %>
    <p class="awaiting-response">Awaiting Response...</p>
  <% end %>
</div>
