.question {
  .question-header {
    font-size: 13px;
    color: #999;
    margin-bottom: 4px;
  }

  .question-title {
    font-family: 'Montserrat', Helvetica, sans-serif;;
    font-size: 19px;
    font-weight: bold;

    margin-bottom: 4px;

    .question-link {
      color: #444;
      text-decoration: none;
    }
  }

  .question-answers {
    font-size: 13px;

    .answers-link {
      color: #999;
    }

  }

  .question-body {
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 15px;
    color: #7E7E7E;
  }
}
