@import "bootstrap-sprockets";
@import "bootstrap";
@import "ionicons";

// Import media queries
@import "partials/breakpoints";

// Import functions/config
@import "partials/functions";
@import "partials/config";

// Import all partials for compile
@import "partials/footer";
@import "partials/type";

@import "partials/search";

// @include desktop_wide(){
//     margin: 0 80px 0px 80px;
// };

.ContentWrapper {
  width: 1002px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 32px;
  padding-right: 32px;
}
