/* line 1, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.left {
  margin-left: 30px; }

/* line 5, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.left-lg {
  margin-left: 86px; }

/* line 9, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.ContentWrapper {
  display: flex;
  width: 1002px;
  margin: 0 auto;
  padding-top: 80px; }
  /* line 17, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
  .ContentWrapper h3 {
    color: #444;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e2e2; }

/* line 26, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.col3-lg {
  width: 572px;
  min-height: 300px; }
  /* line 30, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
  .col3-lg h3 {
    font-weight: 900; }

/* line 35, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.col3-sm, .col3-md {
  width: 142px;
  font-size: 13px;
  min-height: 300px; }
  /* line 41, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
  .col3-sm h3, .col3-md h3 {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e2e2; }

/* line 49, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.col3-md {
  width: 314px; }

/* line 54, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.courses {
  list-style: none;
  padding: 0; }
  /* line 58, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
  .courses .course {
    font-size: 13px;
    color: #999;
    padding: 4px 0; }

/* line 70, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.questions .question .question-header {
  font-size: 13px;
  color: #999;
  margin-bottom: 4px; }

/* line 76, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.questions .question .question-title {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 4px; }
  /* line 83, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
  .questions .question .question-title .question-link {
    color: #444;
    text-decoration: none; }

/* line 89, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.questions .question .question-answers {
  margin-top: 4px;
  font-size: 13px; }
  /* line 93, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
  .questions .question .question-answers .answers-link {
    color: #999; }

/* line 99, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.questions .question .question-body {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 15px;
  color: #7E7E7E; }

/* line 105, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
.questions .question .question-misc {
  display: flex;
  align-items: center;
  padding: 8px 0 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e2e2e2; }
  /* line 112, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
  .questions .question .question-misc .answer-btn {
    color: #937f52;
    background: #D1C6AD;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #937f52;
    padding: 3px 9px;
    transition: background 0.5s; }
    /* line 122, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
    .questions .question .question-misc .answer-btn .icon {
      display: block;
      float: left;
      font-size: 100%;
      color: #937f52; }
    /* line 129, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
    .questions .question .question-misc .answer-btn .answer-text {
      font-size: 13px;
      display: block;
      float: left;
      margin-left: 6px;
      margin-top: 1px; }
    /* line 137, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
    .questions .question .question-misc .answer-btn:hover {
      background: #e3ddce; }
  /* line 142, /Users/jakedex/Developer/web/ask-a-badger/app/assets/stylesheets/questions/_index.scss */
  .questions .question .question-misc .report-link {
    font-size: 13px;
    margin-left: 20px;
    color: #999; }

/*# sourceMappingURL=questions.css.map */