<div class="logged-in-head">
  <div class="header-inner">
    <div class="header-logo">
      <a href="/">Ask a Badger</a>
    </div>
    <div class="header-search">
        <span class="input input--kohana">
					<input class="input__field input__field--kohana" type="text"/>
					<label class="input__label input__label--kohana">
						<i class="fa fa-fw fa-clock-o icon icon--kohana icon ion-search"></i>
						<span class="input__label-content input__label-content--kohana">Search for a question, class, or user</span>
					</label>
				</span>
    </div>
    <div class="header-contents">
       <ul>
        <li class="active nav-item"><a href="/user/answers"><i class="nav-icon icon ion-compose"></i><span class="nav-text">Answers</span></a></li>
        <li class=" nav-item"><a href="/user/notifications"><i class="nav-icon icon ion-android-notifications-none"></i><span class="nav-text">Notifications</span></a></li>
        <li class="nav-icon nav-item"><a href="/user"><i class="nav-icon google-icon"></i><span class="nav-text">Jake</span></a></li>
      </ul>
    </div>
  </div>
</div>